<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <form class ="formulario" action="/resultado" method="post">
        
            <label class="form">Nombre:</label>
            <input class="form" type="text" id="name" name="user_name">
            <label class="form">Dojo Location:</label>
            <select class="form" id ="location" name="location"> 
                <option>Mountain View</option>
                <option>USA</option>
                <option>Chile</option>
            </select>
            <label class="form" for="name">Lenguajes Favoritos:</label>
            <select class="form" id="lenguaje" name="lenguaje"> 
                <option>JavaScript</option>
                <option>Java</option>
                <option>Cobol</option>
            </select>
            <label class="form" for="name">Comentarios: </label>
            <textarea class="form" name="comentario" rows="4" cols="20"></textarea>
            <button class="form"> Enviar </button>
        

    </form>
    
</body>
</html>