<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <form class ="formulario" action="/" method="get">
        
    <section>
        <h2> Submitted Information: </h2>
        <h3> Nombre:  <%= formulario.user_name %> </h3>
        <h3> Dojo Location:  <%= formulario.location %> </h3>
        <h3> Favorite Lenguaje:   <%= formulario.lenguaje %></h3>
        <h3> Comentario:   <%= formulario.comentario %></h3>
        <button>volver</button>      
    </section>
    </form>
   
   
</body>
</html>

